# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/
.env.*
.venv/

# IDE files (optional)
.vscode/
.idea/

setup-new-ec2.txt